
body{
	background-image: url("bs.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
	color: black;
  display: block;
	overflow-wrap: break-word;
}

a{
	color: indigo;
}

img{
 	border-style: solid;
 	border-color: black;
 }

 h1{
 	border-style: solid;
 	border-color: black;
  background-color: white;
 }

 h4{
    /* border-style: dashed;
    border-color: black;
    background-color: #bcf5cb8a;
    display: block;
    font-size: 50px; */

		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0px 13px;

		position: absolute;
		width: 91.12px;
		height: 33px;
		left: 1072px;
		top: 20px;

		background: rgba(255, 255, 255, 0.24);
		border-radius: 100px;
 }

 #table{
    border-color: indigo;
    box-shadow: 5px 5px 5px 5px;
}

th a{
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: capitalize;
    text-transform: uppercase;
   }

   th a:hover{
    background-color: #dcc5d7;
   }
