
body{
	background-image: url("bs.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
	color: black;
  display: block;
	overflow-wrap: break-word;
}

a{
	color: indigo;
}

img{
 	border-style: solid;
 	border-color: black;
 }

 h1{
	display: flex;
 	flex-direction: row;
 	align-items: center;
 	padding: 0px 13px;
 	position: absolute;
 	width: 387.12px;
 	height: 47px;
 	left: 500px;
 	top: 40px;
 	background: rgba(255, 255, 255, 0.24);
 	border-radius: 200px;
 }

 h4{
	 display: flex;
	 flex-direction: row;
	 align-items: center;
	 padding: 0px 13px;
	 position: absolute;
	 width: 387.12px;
	 height: 47px;
	 left: 1098px;
	 top: 662px;
	 background: rgba(255, 255, 255, 0.24);
	 border-radius: 200px;
 }

 #table{
    border-color: indigo;
    box-shadow: 5px 5px 5px 5px;
}

th a{
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: capitalize;
    text-transform: uppercase;
   }

   th a:hover{
    background-color: #dcc5d7;
   }
