
body{
	background-image: url("bs.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
	color: black;
  display: block;
	overflow-wrap: break-word;
}

a{
	color: black;
	text-decoration: none;
}

img{
 	margin: 66px;
 }

#home{
	display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  position: absolute;
  width: 108.12px;
  height: 42px;
  left: 12px;
  top: 10px;
  background: rgb(193 194 221);
  border-radius: 182px;
  font-size: 36px;
  text-decoration: none;
  text-transform: uppercase;
}

#recipes{
	display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  position: absolute;
  width: 149.12px;
  height: 42px;
  left: 165px;
  top: 10px;
  background: rgb(200 187 218);
  border-radius: 182px;
  font-size: 36px;
  text-decoration: none;
  text-transform: uppercase;
}

#nutrition{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 12px;
	position: absolute;
	width: 196.12px;
	height: 42px;
	left: 347px;
	top: 10px;
	background: rgb(203 188 215);
	border-radius: 182px;
	font-size: 36px;
	text-decoration: none;
	text-transform: uppercase;
}

h1{
	 display: flex;
   flex-direction: row;
   align-items: center;
   padding: 0px 13px;
   position: absolute;
   width: 261.12px;
   height: 40px;
   left: 606px;
   top: 64px;
   background: rgba(255, 255, 255, 0.24);
   border-radius: 189px;
 }

 h4{
	 display: flex;
	 flex-direction: row;
	 align-items: center;
	 padding: 0px 13px;
	 position: absolute;
	 width: 387.12px;
	 height: 47px;
	 left: 1098px;
	 top: 662px;
	 background: rgba(255, 255, 255, 0.24);
	 border-radius: 200px;
 }

 #table{
    border-color: indigo;
    box-shadow: 5px 5px 5px 5px;
}

th a{
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: capitalize;
    text-transform: uppercase;
   }

   th a:hover{
    background-color: #dcc5d7;
   }
