
body{
	background-image: url("bs.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  height: 1500px;
	color: black;
  /*font-size: 50px;*/
  }

  a{
	 color: indigo;
  }

  #saying {
    border-color: indigo;
    font-size: 58px;
    font-style: oblique;
    background-color: #f5d5bc66;
    padding: 20px;
    overflow: auto;
    border-top-style: double;
    border-bottom-style: double;
    position: absolute;
    left: 2%;
    top: 19%;
    height: 323px;
    z-index:1;
    margin: 5% auto;
    float:left;
    width:20%;
  }

    p:hover{
    color: green;
  }

  #table2{
    border-color: indigo;
    background-color: #c4bbda;
    border-top-style: double;
    position: absolute;
    left: 31%;
    top: 19%;
    width: 114px;
    height: 372px;
    z-index:2;
    margin: 5% auto;
    float:left;
    width:20%;
  }

  #table2:hover{
    color: green;
  }

  #table2 th{
    border-bottom-style: dotted;
    text-transform: uppercase;
  }

  #table2 td{
    border-bottom-style: dotted;
  }

 img{
 	  border-style: solid;
 	  border-color: black;
 }

 h1{
 	  border-style: solid;
 	  border-color: black;
  	background-color: white;
 }

 h4{
 	  border-style: dashed;
    border-color: black;
    background-color: #bcf5cb8a;
    display: block;
    margin-block-start: 18.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 50px;
 }

 td{
    text-align: center
 }

 #table{
    border-color: indigo;
    box-shadow: 5px 5px 5px 5px;
}

  th a{
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: capitalize;
    text-transform: uppercase;
   }

   th a:hover{
    background-color: #dcc5d7;
   }
