
body{
	background-image: url("bs.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  height: 1500px;
	color: black;
}

a{
	 color: indigo;
}

#table{
    border-color: indigo;
    box-shadow: 5px 5px 5px 5px;
}

 img{
 	  border-style: solid;
 	  border-color: black;
 }

   .header{
    padding: 15px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 14px;
   }

 #style1{
  background-image: url("ss.jpg");
  background-position: right top;
  background-size: 218px;
  background-repeat: no-repeat;
  background-color: #d9bdd0;
  position: absolute;
  left: 38%;
  top:19%;
  border: 5px solid green;
  width: 500px;
  height: 500px;
  z-index:1;
}

 #style2{
  background-image: url("egg.jpg");
  background-position: right top;
  background-size: 312px;
  background-repeat: no-repeat;
  background-color: #d9bdd0;
  position: absolute;
  left: 42%;
  top:24%;
  border: 5px solid red;
  width: 500px;
  height: 500px;
  z-index:2;
}

 #style3{
  background-image: url("bacon.jpg");
  background-position: right top;
  background-size: 312px;
  background-repeat: no-repeat;
  background-color: #d9bdd0;
  position: absolute;
  left: 45%;
  top:30%;
  border: 5px solid black;
  width: 500px;
  height: 500px;
  z-index:3;
}

#style1:hover,#style2:hover,#style3:hover{
  z-index: 5;
}

#style1:target,#style2:target,#style3:target{
  z-index: 4;
}

 h4{
    border-style: dashed;
    border-color: black;
    background-color: #bcf5cb8a;
    display: block;
    margin-block-start: 21.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 47px;
   }

 th a{
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: capitalize;
    text-transform: uppercase;
   }

 h1{
  color: black;
  text-align: left;
 }

 p{
  color: black;
  text-align: left;
 }
 th a:hover{
    background-color: #dcc5d7;
   }

 #instruct1 {
    text-align: left;
    color: black;
    font-size: 25px;
    position: absolute;
    top: 44%;
}

#instruct2 {
    text-align: left;
    color: black;
    font-size: 25px;
    position: absolute;
    top: 36%;
}

#instruct3 {
    text-align: left;
    color: black;
    font-size: 23px;
    position: absolute;
    top: 220px;
}

#style1:target{
  display: -moz-box;
  border: 2px solid #D4D4D4;
  position: absolute;
  color: red;
  z-index: 9999;
}
